* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans";
  background: #f7f8fa;
  color: #464c54;
}

header {
  height: 30px;
  user-select: none;
  margin: 9px;
}

#theme-selector {
  height: 100%;
  text-align: right;
  letter-spacing: 6px;
}

header {
  display: flex;
  justify-content: space-between;
}

#header-right-container {
  text-align: right;
}

#header-right-container > div {
  display: inline-block;
}

#header-left-container {
  text-align: left;
}

#header-left-container > div {
  display: inline-block;
}

#header-left-container > #variable-container {
  display: flex;
  gap: 12px;
}

#header-left-container > #variable-container > div {
  display: flex;
}

#header-left-container > #variable-container > div > label {
  color: #1f62e0;
  background: #fff;
  border: 1px solid #24292e1f;
  align-items: center;
  border-radius: 2px;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  margin-right: 4px;
  padding: 0 8px;
  justify-content: space-between;
}

#header-left-container > #variable-container.dark > div > label {
  background: #181b1f;
  border: 1px solid #ccccdc12;
  color: #6e9fff;
}

#header-left-container > #variable-container > div > div > button {
  display: flex;
  gap: 8px;
  height: 32px;
  max-width: 150px;
  background-color: #fff;
  border: 1px solid #24292e03;
  border-radius: 2px;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
}

#header-left-container > #variable-container.dark > div > div > button {
  color: #d8d9da;
  background-color: #111217;
  border: 1px solid #ccccdc0f;
}

#option-container-single {
  flex-direction: column;
  background-color: #fff;
}

#option-container-single > button {
  border-width: 0px;
  background-color: #fff;
}

#option-container-single > button:hover {
  background-color: #eff0f0;
  cursor: pointer;
}

#option-container-single > button.selected {
  background-color: #eff0f0;
}

.dot {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.dot.light {
  background-color: #eee;
}

.dot.dark {
  background-color: #333;
}

#refresh-button {
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

#refresh-button:active svg {
  fill: #888;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
